{% extends "base.html" %}
{% load static %}
{% block page-title %} | Agenda{% endblock page-title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/agenda.css' %}">
{% endblock styles %}

{% block content %}
    <div class="agenda_content">
        <h2 class="page-title">Weekly operational review agenda</h2>
        <div class="agenda_body">
            <div class="agenda_description">
                <div class="description_headling_row">
                    <div class="description_headling">Items</div>
                    <div class="description_headling">Content</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Attendance</div>
                    <div class="description_item">Review the presence of participants and back-ups</div>
                </div>
                <div class="description_row">
                    <div class="description_item">SHE</div>
                    <div class="description_item">Review SHE Measures and address any SHE incidents and tips</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Issues/Actions/Tasks</div>
                    <div class="description_item">Review due actions & update status (Short and Long Term Actions)</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Measures</div>
                    <div class="description_item">Review previous week performance (CATS, Kronos, etc)</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Improvements</div>
                    <div class="description_item">Review status of Problem Solving activities</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Feedback/Recognition/Coaching</div>
                    <div class="description_item">Feedback on any relevant messages</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Communications</div>
                    <div class="description_item">News around NBS</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Team calendar</div>
                    <div class="description_item">Vacations, other absences</div>
                </div>
            </div>
        </div>
    </div>
    <div class="facilitators">
        <h2 class="page-title">This week's facilitator</h2>
        <div class="user_description" style="margin-bottom: 56px;">
            <div class="user_information_block">
                <div class="user_image">
                    {% for week_role in week_roles %}
                        <img src="{{week_role.wor_leader.user_image.url}}" alt="">
                    {% endfor %}
                </div>
                <div class="user_information">
                    <h3 class="block_title">WOR LEADER</h3>
                    {% for week_role in week_roles %}
                        <span class="user_name">{{week_role.wor_leader.first_name}} {{week_role.wor_leader.last_name}}</span>
                        <span class="user_position">{{week_role.wor_leader.user_position}}</span> 
                    {% endfor %}                    
                </div>
            </div>
            <div class="user_personal_data_block">
                <div class="user_personal_data">
                    <span class="label">Email:</span>
                    {% for week_role in week_roles %}
                        <span class="data">{{week_role.wor_leader.email}}</span>
                    {% endfor %} 
                </div>
            </div>
        </div>
        <div class="user_description">
            <div class="user_information_block">
                <div class="user_image">
                    {% for week_role in week_roles %}
                        <img src="{{week_role.wor_engager.user_image.url}}" alt="">
                    {% endfor %}
                </div>
                <div class="user_information">
                    <h3 class="block_title block_title_engager">COMUNICATION ENGAGER</h3>
                    {% for week_role in week_roles %}
                        <span class="user_name">{{week_role.wor_engager.first_name}} {{week_role.wor_engager.last_name}}</span>
                        <span class="user_position">{{week_role.wor_engager.user_position}}</span> 
                    {% endfor %}       
                </div>
            </div>
            <div class="user_personal_data_block">
                <div class="user_personal_data">
                    <span class="label">Email:</span>
                    {% for week_role in week_roles %}
                        <span class="data">{{week_role.wor_engager.email}}</span>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
    <div class="facilitators next_week">
        <h2 class="page-title">Next week's coordinator</h2>
        <div class="next_week_wor_leader">
            <h3 class="block_title block_title_engager">WOR LEADER</h3>
            <div class="user_information_block">
                {% for next_week_role in next_week_roles %}
                    <div class="user_image">
                        <img src="{{next_week_role.wor_leader.user_image.url}}" 
                             alt="{{next_week_role.wor_leader.first_name}} {{next_week_role.wor_leader.last_name}}"
                             title="{{next_week_role.wor_leader.first_name}} {{next_week_role.wor_leader.last_name}}">
                    </div>
                    <div class="user_information">
                        <span class="first_name">{{next_week_role.wor_leader.first_name}}</span>
                        <span class="last_name">{{next_week_role.wor_leader.last_name}}</span> 
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="next_week_wor_engager">
            <h3 class="block_title block_title_engager">COMUNICATION ENGAGER</h3>
            <div class="user_information_block">
                {% for next_week_role in next_week_roles %}
                    <div class="user_image">
                        <img src="{{next_week_role.wor_engager.user_image.url}}" 
                             alt="{{next_week_role.wor_engager.first_name}} {{next_week_role.wor_engager.last_name}}"
                             title="{{next_week_role.wor_engager.first_name}} {{next_week_role.wor_engager.last_name}}">
                    </div>
                    <div class="user_information">  
                        <span class="first_name">{{next_week_role.wor_engager.first_name}}</span>
                        <span class="last_name">{{next_week_role.wor_engager.last_name}}</span> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}