{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/agenda.css' %}">
{% endblock styles %}

{% block content %}
    <div class="agenda_content">
        <h2 class="page-title">Weekly operational review agenda</h2>
        <div class="agenda_body">
            <div class="agenda_description">
                <div class="description_headling_row">
                    <div class="description_headling">Items</div>
                    <div class="description_headling">Content</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Attendance</div>
                    <div class="description_item">Review the presence of participants and back-ups</div>
                </div>
                <div class="description_row">
                    <div class="description_item">SHE</div>
                    <div class="description_item">Review SHE Measures and address any SHE incidents and tips</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Issues/Actions/Tasks</div>
                    <div class="description_item">Review due actions & update status (Short and Long Term Actions)</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Measures</div>
                    <div class="description_item">Review previous week performance (CATS, Kronos, etc)</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Improvements</div>
                    <div class="description_item">Review status of Problem Solving activities</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Feedback/Recognition/Coaching</div>
                    <div class="description_item">Feedback on any relevant messages</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Communications</div>
                    <div class="description_item">News around NBS</div>
                </div>
                <div class="description_row">
                    <div class="description_item">Team calendar</div>
                    <div class="description_item">Vacations, other absences</div>
                </div>
            </div>
        </div>
    </div>
    <div class="facilitators">
        <h2 class="page-title">This week's facilitator</h2>
        <div class="user_description" style="margin-bottom: 56px;">
            <div class="user_information_block">
                <div class="user_image">
                    <img src="avatar1.png" alt="">
                </div>
                <div class="user_information">
                    <h3 class="block_title">WOR LEADER</h3>
                    <span class="user_name">Sierra Ferguson</span>
                    <span class="user_position">Product Manager at Nestlé</span> 
                </div>
            </div>
            <div class="user_personal_data_block">
                <div class="user_personal_data">
                    <span class="label">Email:</span>
                    <span class="data">s.ferguson@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="user_description">
            <div class="user_information_block">
                <div class="user_image">
                    <img src="avatar2.png" alt="">
                </div>
                <div class="user_information">
                    <h3 class="block_title block_title_engager">COMUNICATION ENGAGER</h3>
                    <span class="user_name">Cameron Williamson</span>
                    <span class="user_position">Marketing Coordinator</span> 
                </div>
            </div>
            <div class="user_personal_data_block">
                <div class="user_personal_data">
                    <span class="label">Email:</span>
                    <span class="data">c.williamson@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="facilitators next_week">
        <h2 class="page-title">Next week's coordinator</h2>
        <div class="next_week_wor_leader">
            <h3 class="block_title block_title_engager">WOR LEADER</h3>
            <div class="user_information_block">
                <div class="user_image">
                    <img src="avatar1.png" alt="">
                </div>
                <div class="user_information">
                    <span class="first_name">Cameron</span>
                    <span class="last_name">Williamson</span> 
                </div>
            </div>
        </div>
        <div class="next_week_wor_engager">
            <h3 class="block_title block_title_engager">COMUNICATION ENGAGER</h3>
            <div class="user_information_block">
                <div class="user_image">
                    <img src="avatar2.png" alt="">
                </div>
                <div class="user_information">
                    <span class="first_name">Cameron</span>
                    <span class="last_name">Williamson</span> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}