{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<h1>{{welcome}}</h1>
<br>
{{date_now}}
<a href="{% url 'authapp:edit' %}" class="btn btn-primary">Edit Your Profile</a> or
<a href="{% url 'authapp:password_change' %}" class="btn btn-warning">Change your password</a>  or
{% if profile_information.last_punch_date != date_now %}
    <a href="{% url 'authapp:punch' %}" class="btn btn-primary">Punch</a>
{% endif %}
<a href="{% url 'authapp:calendar_generate' %}" class="btn btn-primary">Generate WOR calendar</a>
<hr>

{% endblock content %}