{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/account.css' %}">
{% endblock styles %}
{% block content %}
<div class="headling">
    <h2 class="page-title">Settings</h2>
    <div class="content_tabs">
        <a href="#" class="active">Account setup</a>
        <a href="{% url 'authapp:settings' %}">Facilitator settings</a>
    </div>
</div>
<br>
<a href="{% url 'authapp:edit' %}" class="btn btn-primary">Edit Your Profile</a>
<a href="{% url 'authapp:password_change' %}" class="btn btn-warning">Change your password</a>
<hr>

{% endblock content %}