{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/improvements.css' %}">
{% endblock styles %}

{% block content %}
    <div>
        <div class="btns">
            <a href="#" style="float: right;" onclick="openForm()">
                <img src="{% static 'img/add_btn.png' %}"> 
                <span class="add-task">Add Task</span>
            </a>
        </div>
        <h2 class="page-title">Improvements</h2> 
    </div>
    <div class="to-do">
        <p class="column">TO DO</p>
        <div class="improvments-tasks">
            {% for improvement in improvements %}
                {% if improvement.group in request.user.groups.all %}
                    {% if improvement.status == 'to_do' %}
                        <div class="task-content">
                            <div class="date-status">
                                <span class="to-do-status">TO DO</span> 
                                <span class="task-date">{{improvement.creation_date}} 
                                    <a href="{% url 'improvements:improvement_edit' improvement.pk %}"><img class="dots" src="{% static 'img/dots.png' %}"></a>
                                </span>
                            </div>
                            <div class="task-text">
                                <p class="topic">{{improvement.title}}</p>
                                <p class="task-description">{{improvement.description}}</p>
                            </div>
                            <div class="members">
                                {% for user in improvement.assigned_user.all %}
                                    <img src="{{ user.user_image.url }}">
                                {% endfor %}
                            </div>
                            <div class="dates">
                                <span class="start-date">{{improvement.start_date}}</span>
                                <span class="finish-date">{{improvement.deadline_date}}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="in-progress">
        <p class="column">IN PROGRESS</p>
        <div class="improvments-tasks">
            {% for improvement in improvements %}
                {% if improvement.group in request.user.groups.all %}
                    {% if improvement.status == 'in_progress' %}
                        <div class="task-content">
                            <div class="date-status">
                                <span class="in-progress-status">IN PROGRESS</span> 
                                <span class="task-date">{{improvement.creation_date}}
                                    <a href="{% url 'improvements:improvement_edit' improvement.pk %}"><img class="dots" src="{% static 'img/dots.png' %}"></a>
                                </span>
                            </div>
                            <div class="task-text">
                                <p class="topic">{{improvement.title}}</p>
                                <p class="task-description">{{improvement.description}}</p>
                            </div>
                            <div class="members">
                                {% for user in improvement.assigned_user.all %}
                                    <img src="{{ user.user_image.url }}">
                                {% endfor %}    
                            </div>
                            <div class="dates">
                                <span class="start-date">{{improvement.start_date}}</span>
                                <span class="finish-date">{{improvement.deadline_date}}</span>
                            </div>
                        </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="review">
        <p class="column">REVIEW</p>
        <div class="improvments-tasks">
            {% for improvement in improvements %}
                {% if improvement.group in request.user.groups.all %}
                    {% if improvement.status == 'review' %}
                        <div class="task-content">
                            <div class="date-status">
                                <span  class="review-status">REVIEW</span> 
                                <span class="task-date">{{improvement.creation_date}}
                                    <a href="{% url 'improvements:improvement_edit' improvement.pk %}"><img class="dots" src="{% static 'img/dots.png' %}"></a>
                                </span>
                            </div>
                            <div class="task-text">
                                <p class="topic">{{improvement.title}}</p>
                                <p class="task-description">{{improvement.description}}</p>
                            </div>
                            <div class="members">
                                {% for user in improvement.assigned_user.all %}
                                    <img src="{{ user.user_image.url }}">
                                {% endfor %} 
                            </div>
                            <div class="dates">
                                <span class="start-date">{{improvement.start_date}}</span>
                                <span class="finish-date">{{improvement.deadline_date}}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="done">
        <p class="column">DONE</p>
        <div class="improvments-tasks">
            {% for improvement in improvements %}
                {% if improvement.group in request.user.groups.all %}
                    {% if improvement.status == 'done' %}
                        <div class="task-content">
                            <div class="date-status">
                                <span class="done-status">DONE</span> 
                                <span class="task-date">{{improvement.creation_date}}
                                    <a href="#"><img class="dots" src="dots.png"></a>
                                </span>
                            </div>
                            <div class="task-text">
                                <p class="topic">{{improvement.title}}</p>
                                <p class="task-description">{{improvement.description}}</p>
                            </div>
                            <div class="members">
                                {% for user in improvement.assigned_user.all %}
                                    <img src="{{ user.user_image.url }}">
                                {% endfor %} 
                            </div>
                            <div class="dates">
                                <span class="start-date">{{improvement.start_date}}</span>
                                <span class="finish-date">{{improvement.deadline_date}}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <a href="#"><p class="show-more">Show more</p></a>
    <div class="form_container" id="popup">
        <div class="improvement_form">
            <h3 class="form-title">Adding an improvement</h3>
            <form method="post">
                {% csrf_token %}
                <fieldset class="checkboxes">
                    <legend class="legend_label">Status</legend>
                    <div class="chebox_item chebox_item_to_do">
                        <input type="radio" id="to_do" name="status" value="to_do"
                                checked>
                        <label for="to_do">To do</label>
                    </div>
                
                    <div class="chebox_item chebox_item_in_progress">
                        <input type="radio" id="in_progress" name="status" value="in_progress">
                        <label for="in_progress">In progress</label>
                    </div>
                
                    <div class="chebox_item chebox_item_review">
                        <input type="radio" id="review" name="status" value="review">
                        <label for="review">Review</label>
                    </div>
                    
                    <div class="chebox_item chebox_item_done">
                        <input type="radio" id="done" name="status" value="done">
                        <label for="done">Done</label>
                    </div>
                </fieldset>
                <div class="form_fields">
                    <div class="improvement_form_title">
                        <legend class="legend_label">Title</legend>
                        <input type="text" placeholder="Text">
                    </div>
                </div>
                <div class="form_fields">
                    <div class="improvement_description">
                        <legend class="legend_label">Description</legend>
                        <textarea placeholder="Describe improvement here..."></textarea>
                    </div>
                </div>
                <div class="form_fields">
                    <fieldset class="improvement_form_perfromer"> 
                        <legend class="legend_label">Performer</legend>
                        <div class="checkbox-dropdown">
                            <ul class="checkbox-dropdown-list">
                                <li>
                                    <input type="checkbox" id="all_users" value="all" name="assigned_user">
                                    <label for="all_users">
                                        <img src="{% static '/img/default_user_image.png' %}">
                                        <span class="performer_name">All</span>
                                        <span class="performer_surname">Users</span>
                                    </label>
                                </li>
                                {% for user in user_profile_list %}
                                    {% if user.groups.first == request.user.groups.first %}
                                    <li>
                                        <input type="checkbox" id="{{user.pk}}" value="{{user.pk}}" name="assigned_user"/>
                                        <label for="{{user.pk}}">
                                            <img src="{{user.user_image.url}}">
                                            <span class="performer_name">{{user.first_name}}</span>
                                            <span class="performer_surname">{{user.last_name}}</span>
                                        </label>
                                    </li>
                                    {% endif %}
                                {% endfor %}         
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="form_fields timeline">
                    <legend class="legend_label">Timeline</legend>
                    <input type="date" class="start_date">
                    <div class="arrow"> <img src="{% static 'img/arrow.png' %}" alt=""></div>
                    <input type="date"class="deadline_date">   
                </div>
                <div class="form_fields">
                    <button class="button confirm" type="submit">Confirm</button>
                    <button onclick="closeForm()" class="button cancel">Cancel</button>  
                </div>    
            </form>        
        </div>
    </div>
    <script>
        $(".checkbox-dropdown").click(function () {
            $(this).toggleClass("is-active");
        });

        $(".checkbox-dropdown ul").click(function(e) {
            e.stopPropagation();
        });
        function openForm() {
            var element = document.getElementById("popup");
            element.classList.add("show");
            document.body.style.overflowY = "hidden";
        }
        function closeForm() {
            var element = document.getElementById("popup");
            element.classList.remove("show");
            document.body.style.overflowY = "scroll";
        }
        function addClass() { 
            const header = document.getElementById("header");
            const content = document.getElementById("content");
            const header_space = document.getElementById("header-space");
            
            header.classList.toggle("toggeled");
            content.classList.toggle("toggeled_content");
            header_space.classList.toggle("header_space");
        }
    </script>
{% endblock content %}