<table class="carousel">
    <tbody class="carouselContainer">
        <tr >
            {% for week in week_list%}
                <td class="slides"><span>Week {{week.week_number}}</span><span><br>{{week.start_date|date:"m.d"}} - {{week.end_date|date:"m.d"}}</br></span></td>
            {% endfor%} 
        </tr>
        {% for user in users%}     
            <tr>
                {% for week in week_list%}
                    <td class="slides">
                        {% for week_role in week_roles%}
                            {% if week_role.wor_leader.pk == user.pk and week_role.week_id.week_number == week.week_number  %}
                                <div class="
                                {% for attendance in attendances%}
                                    {% if user.pk == attendance.person.pk and week.week_number == attendance.date.week_number %}
                                        {{attendance.user_status}}
                                    {% endif %}
                                {% endfor%}   
                                leader"><span></span></div>
                            {% elif week_role.wor_engager.pk == user.pk and week_role.week_id.week_number == week.week_number  %}
                                <div class="
                                {% for attendance in attendances%}
                                    {% if user.pk == attendance.person.pk and week.week_number == attendance.date.week_number %}
                                        {{attendance.user_status}}
                                    {% endif %}
                                {% endfor%} 
                                engager"><span></span></div>
                            {% elif week_role.week_id.week_number == week.week_number%}
                                <div class="
                                {% for attendance in attendances%}
                                    {% if user.pk == attendance.person.pk and week.week_number == attendance.date.week_number %}
                                        {{attendance.user_status}}
                                    {% endif %}
                                {% endfor%}             
                                "><span></span></div>
                            {% endif %}
                        {% endfor%} 
                    </td>
                {% endfor%}
            </tr>        
        {% endfor%}                   
    </tbody>
</table>
<script>
    ////////////////// Carousel /////////////////
    var carouselContainer = document.querySelector(".carouselContainer");  
    var slides = document.querySelectorAll('.slides');  
    var next = document.querySelector('#next');  
    var prev = document.querySelector('#prev');  
    var counter = 0;  
    if ( (parseInt("{{week}}") -1) > 47){
        counter = 47
    } else {
        counter = parseInt('{{week}}') -1
    }
    var size = slides[0].clientWidth +1;  
    console.log(size);
    carouselContainer.style.transform = 'translateX(' + (-size * counter)   + 'px';  
    console.log(carouselContainer.style.transform);
    next.addEventListener('click',()=>{  
    if (counter>=47)return;  
        carouselContainer.style.transition = 'transform 0.4s ease-in-out'; 
        counter++;  
        carouselContainer.style.transform = 'translateX(' + (-size * counter )  + 'px';  
    });  
    prev.addEventListener('click',()=>{  
    if (counter<=0)return;  
        carouselContainer.style.transition = 'transform 0.4s ease-in-out';  
        counter--;  
        carouselContainer.style.transform = 'translateX(' + (-size * counter ) + 'px';  
    });  
    carouselContainer.addEventListener('transitionend',()=>{  
    console.log(slides[counter]);  
    if(slides[counter].id ==='lastslide'){  
        carouselContainer.style.transition = 'none';  
        counter = slides.length - 2;      
        carouselContainer.style.transform = 'translateX(' + (-size * counter ) + 'px';  
    }  
    });  
    carouselContainer.addEventListener('transitionend',()=>{  
    console.log(slides[counter]);  
    if(slides[counter].id ==='firstslide'){  
        carouselContainer.style.transition = 'none';  
        counter = slides.length - counter;      
        carouselContainer.style.transform = 'translateX(' + (-size * counter ) + 'px';  
    }  
    });
</script>